{% extends "basic1.html" %} {% block nav1 %} {% endblock %} {% block cont %}
<style>
  .train-number {
    font-size: 25px; /* Adjust the font size as per your preference */
  }
</style>
<main id="main" class="main">
  <center>
    <h2 class="card-title" style=" color:white; ">Search Train</h2>
  </center>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <form id="searchForm" action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <div class="row mt-4">
            <div class="row justify-content-center align-items-center">
              <div class="col">
                <div id="autocompleteSource" class="autocomplete">
                  <input
                    id="tags"
                    name="source"
                    class="autocomplete-input form-control"
                    placeholder="Source"
                    value="{{ source|default_if_none:'' }}"
                  />
                  <ul class="autocomplete-result-list"></ul>
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-arrow-left-right" id="interchangeIcon"></i>
              </div>
              <div class="col">
                <div id="autocompleteDestination" class="autocomplete">
                  <input
                    id="tags1"
                    name="destination"
                    class="autocomplete-input form-control"
                    placeholder="Destination"
                    value="{{ destination|default_if_none:'' }}"
                  />
                  <ul class="autocomplete-result-list"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <label for="date">Date:</label>
              <input
                type="date"
                id="date"
                name="date"
                class="form-control"
                {%
                if
                date
                %}
                value="{{ date }}"
                {%
                endif
                %}
                required
              />
              <input
                type="hidden"
                id="selectedDate"
                name="selectedDate"
                value="{{ date }}"
              />
            </div>
          </div>
          <br />
          <center>
            <button type="submit" class="btn btn-success btn-lg" id="submitBtn">
              Search
            </button>
          </center>
        </form>
      </div>
    </div>
  </div>

  {% if source %}
  <div class="card">
    <div class="card-body mt-4">
      <div class="card">
        <div class="card-body mt-4">
          <div class="container text-center">
            <div class="row">
              <h6><b>Traveling Date : {{ date|date:"d-m-Y" }}</b></h6>
              <div class="col mt-3">{{ source }}</div>
              <div class="col-1 mt-3">
                <i class="bi bi-arrow-right"></i>
              </div>
              <div class="col mt-3">{{ destination }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        {% for item in result %}
        <div class="card-footer bg-transparent border-info mt-3"></div>

        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col">
                <b
                  ><span class="train-number">{{ item.train_number }}|</span></b
                >
                {{ item.start }} <i class="bi bi-arrow-right"></i> {{ item.end}}
              </div>
              <div class="col">
                <h6><i class="bi bi-currency-rupee"></i>{{ item.charge }}</h6>
              </div>
              <div class="w-1000"></div>
              <div class="col mt-1"><h4>{{ item.train_name }}</h4></div>
              <div class="col" style="color: blue">Runs Daily</div>
              <div class="w-1000"></div>
              <div class="col">Distance - {{ item.distance }}km</div>
            </div>
          </div>
          <div class="col col-lg-2">
            <a
              href="{% url 'booknow' con item.train_number %}"
              class="btn btn-primary"
              >Book Now</a
            >
          </div>
        </div>
        {% endfor %}
        <div class="card-footer bg-transparent border-info mt-3"></div>
      </div>
    </div>
  </div>

  {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {
    var sourceInput = $("#tags");
    var destinationInput = $("#tags1");

    sourceInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== sourceInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        sourceInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    destinationInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== destinationInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        destinationInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    $("#interchangeIcon").click(function () {
      var sourceValue = sourceInput.val();
      sourceInput.val(destinationInput.val());
      destinationInput.val(sourceValue);
    });

    // Retain selected date in hidden input field
    $("#date").change(function () {
      $("#selectedDate").val($(this).val());
    });
  });
</script>
{% endblock %}
