{% extends "basic1.html" %} {% block nav1 %} {% endblock %} {% block cont %}
<main id="main" class="main">
  <center>
    <h5 class="card-title">Search Train</h5>
  </center>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <form id="searchForm" action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <div class="row mt-4">
            <div class="row justify-content-center align-items-center">
              <div class="col">
                <div id="autocompleteSource" class="autocomplete">
                  <input
                    id="tags"
                    name="source"
                    class="autocomplete-input form-control"
                    placeholder="Source"
                    value="{{ source|default_if_none:'' }}"
                  />
                  <ul class="autocomplete-result-list"></ul>
                </div>
              </div>
              <div class="col-auto">
                <i class="bi bi-arrow-left-right" id="interchangeIcon"></i>
              </div>
              <div class="col">
                <div id="autocompleteDestination" class="autocomplete">
                  <input
                    id="tags1"
                    name="destination"
                    class="autocomplete-input form-control"
                    placeholder="Destination"
                    value="{{ destination|default_if_none:'' }}"
                  />
                  <ul class="autocomplete-result-list"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="date">Date:</label>
              <input
                type="date"
                id="date"
                name="date"
                class="form-control"
                {%
                if
                date
                %}
                value="{{ date }}"
                {%
                endif
                %}
                required
              />
              <input
                type="hidden"
                id="selectedDate"
                name="selectedDate"
                value="{{ date }}"
              />
            </div>
          </div>
          <br />
          <center>
            <button type="submit" class="btn btn-success btn-lg" id="submitBtn">
              Search
            </button>
          </center>
        </form>
      </div>
    </div>
  </div>
  {% if source %}
  <div class="card">
    <div class="card-body mt-4">
      <div class="container text-center">
        <div class="row">
          <div class="col">{{ source }}</div>
          <div class="col-1">
            <i class="bi bi-arrow-right"></i>
          </div>
          <div class="col">{{ destination }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h5><b>Train Name</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>Train No</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>Start Time</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>End Time</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>Charge</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>Distance</b></h5>
          </div>
          <div class="col text-center">
            <h5><b>Action</b></h5>
          </div>
        </div>
        {% for item in result %}
        <div class="row mt-4">
          <div class="col text-center">
            <h5>{{ item.train_name }}</h5>
          </div>
          <div class="col text-center">
            <h5>{{ item.train_number }}</h5>
          </div>
          <div class="col text-center">
            <h5>{{ item.start }}</h5>
          </div>
          <div class="col text-center">
            <h5>{{ item.end }}</h5>
          </div>
          <div class="col text-center">
            <h5>{{ item.charge }}</h5>
          </div>
          <div class="col text-center">
            <h5>{{ item.distance }}</h5>
          </div>
          <div class="col text-center">
            <!-- Adding journey date here -->
            <h5>{{ item.journey_date|date:"d-m-Y" }}</h5>
          </div>
          <div class="col text-center">
            <a
              href="{% url 'booknow' %}?train_number={{ item.train_number }}&date={{ item.journey_date }}"
              class="btn btn-primary"
              >Book Now</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {
    var sourceInput = $("#tags");
    var destinationInput = $("#tags1");

    sourceInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== sourceInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        sourceInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    destinationInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== destinationInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        destinationInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    $("#interchangeIcon").click(function () {
      var sourceValue = sourceInput.val();
      sourceInput.val(destinationInput.val());
      destinationInput.val(sourceValue);
    });

    // Retain selected date in hidden input field
    $("#date").change(function () {
      $("#selectedDate").val($(this).val());
    });
  });
</script>
{% endblock %}
