{% extends "basic1.html" %} {% block nav1 %} {% endblock %} {% block cont %}
<main id="main" class="main">
  <style>
    input[type="text"][type="password"] {
      border-radius: 8px;
      width: 600px;
      height: 16px;
    }
  </style>
  {% if error %}
  <script>
    alert("Transaction Successfully");
    window.location = "#";
  </script>
  {% endif %}
  <div
    style="
      color: Black;
      border: 1px solid white;
      border-radius: 8px;
      background-color: white;
      padding: 50px;
    "
  >
    {% if total == '0' %}

    <h1 align="center" style="font-family: cursive; color: red">
      No Any Transaction Available
    </h1>

    {% else %}
    <h3><strong>Make Payment - Enter Your Card Details</strong></h3>
    <hr />


    <br /><br />
    <form action="" method="post">
      {% csrf_token %}
      <input
        type="number"
        placeholder="Credit Card Number"
        name="credit"
        style="border-radius: 8px; width: 600px; height: 35px"
        required
      /><br /><br />
      <input
        type="text"
        placeholder="ATM Customer Name"
        name="name"
        style="border-radius: 8px; width: 600px; height: 35px"
        required
      /><br /><br />
      <input
        type="password"
        placeholder="cvv number"
        name="cvv"
        style="border-radius: 8px; width: 600px; height: 35px"
        required
      /><br /><br />
      <input
        type="number"
        placeholder="Expiry Month"
        name="month"
        style="border-radius: 8px; width: 300px; height: 35px"
        required
      />
      <input
        type="number"
        placeholder="Expiry Year"
        name="year"
        style="border-radius: 8px; width: 300px; height: 35px"
        required
      /><br />
      <h2 style="font-family: cursive; color: red">
        Total Amount to Pay : {{total}}.00/-
      </h2>
      <br /><br /><input
        type="submit"
        value="Make Payment"
        style="
          color: white;
          border-radius: 8px;
          width: 215px;
          height: 35px;
          background-color: #333;
          border: 1px solid black;
        "
      />
    </form>
  </div>
  {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {
    var sourceInput = $("#tags");
    var destinationInput = $("#tags1");

    sourceInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== sourceInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        sourceInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    destinationInput.autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "{% url 'get_station' %}",
          dataType: "json",
          data: {
            term: request.term,
          },
          success: function (data) {
            var filteredData = $.grep(data, function (item) {
              return item.value !== destinationInput.val();
            });
            response(filteredData);
          },
        });
      },
      minLength: 3,
      select: function (event, ui) {
        destinationInput.val(ui.item.label);
        return false; // Prevent the default behavior
      },
    });

    $("#interchangeIcon").click(function () {
      var sourceValue = sourceInput.val();
      sourceInput.val(destinationInput.val());
      destinationInput.val(sourceValue);
    });

    // Retain selected date in hidden input field
    $("#date").change(function () {
      $("#selectedDate").val($(this).val());
    });
  });
</script>
{% endblock %}
