{% include "basic1.html" %} {% block nav1 %}
{% load static%}
<link href="{% static 'assets/css/register.css' %}" rel="stylesheet">
<body>
  <h2>Register</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
  </form>
</body>
     
{% endblock%} 