{% extends "basic1.html" %} 
{% block cont %}
<main id="main" class="main">
  <center>
    <h5 class="card-title">Search Train</h5>
  </center>

  <div style="margin: 0 auto; max-width: 600px">
    <form id="searchForm" action="{% url 'searched_train' %}" method="post">
      {% csrf_token %}
      <div id="autocomplete" class="autocomplete">
        <input id="tags" name="selectedTrain" class="autocomplete-input" placeholder="Search by train number or train name"/>
        <ul class="autocomplete-result-list"></ul>
      </div>
      <br>
      <center>
      <button type="submit" id="submitBtn">Submit</button>
      </center>
    </form>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {
    $("#tags").autocomplete({
      source: "{% url 'get_train' %}",
      select: function (event, ui) {
        $("#tags").val(ui.item.value);
      }
    });
  });
</script>

{% endblock %}
