{% extends "base.html" %} {%block nav%} {%endblock%} {%block content%}
<main id="main" class="main">
  <table>
    <thead>
      <tr>
        <th>Station Code</th>
        <th>Station Name</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </thead>

    <tbody>
      {% for obj in objs%}
      <tr>
        <td>{{obj.station_code}}</td>
        <td>{{obj.station_name}}</td>
        <td>{{obj.city}}</td>
        <td>{{obj.state}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</main>

{%endblock%}
